@charset "UTF-8";   

/*
    em HTML é ID = em CSS é # (só pode com um elemento)
    em HTML é CLASS = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(185, 255, 139);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #0b8000;
}

#principal {
    text-align: center;
    background-color: #085a00;
    color: #ffffff;
}

h2 {
    color: #0a3a11;
}

.basico {
    color: #71d3d6;
    
}

.intermediario {
    color: #c5ce4c;
}

.avancado {
    color: #ce6b6b;
}

.destaque {
    background-color: #ac4cc9a1;
}